@import url("https://font.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root{
  --color-1: #3C8257;
  --text-color: white;
  --accent-color: #3A714F;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html{
  font-size: 12pt;
}
body{
  height: 100vh;
  overflow-x: hidden;
}
  
.backgroundContainer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: -50;
}

.logo{
  position: absolute;
  height: auto;
  left: 0px;
  height: 42px;
  width: 100px;
}

.bubbles{
  position: absolute;
  display: flex;
}
.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc2dc44,
              0 0 50px #4fc3dc,
              0 0 100px #4fc3dc;
  animation: animate 8s linear infinite;
  animation-delay: -3;
  animation-duration: calc(100s / var(--i));
}
.bubbles span:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544,
              0 0 50px #ff2d75,
              0 0 100px #ff2d75;
}
.bubbles span:nth-child(even){
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544,
  0 0 50px #ff2d75,
  0 0 100px #ff2d75;
}
@keyframes animate {
  0% {
    transform: translateY(120vh) scale(0);
  }
  100% {
    transform: translateY(-30vh) scale(1);
  }
}

nav {
  height: 60px;
  background-color: var(--color-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links-container{
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav a{
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
}
nav a:hover{
  background-color: var(--accent-color);
}
.logo-link {
  display: block;
  margin-right: 20px;
}
nav svg{
  fill: var(--text-color);
}
#sidebar-active{
  display: none;
}
.open-sidebar-button, .close-sidebar-button{
  display: none;
}
  
.loginWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 420px;
  background: #4FD584;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: white;
  border-radius: 10px;
  padding: 30px 40px;
  box-sizing: border-box;
}

.loginWrapper h1{
  font-size: 36px;
  text-align: center;
}

.loginWrapper .inputBox{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.inputBox input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #FFF;
  padding: 20px 45px 20px 20px;
}

.inputBox input::placeholder{
  color: #FFF;
}



.inputBox i{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.loginWrapper .rememberForgot{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.rememberForgot label input{
  accent-color: #fff;
  margin-right: 3px;
}

.rememberForgot a{
  color: #FFF;
  text-decoration: none;
}

.rememberForgot a:hover{
  text-decoration: underline;
}

.rememberForgot label {
  display: flex;
  align-items: center; 
}

.rememberForgot input[type="checkbox"] {
  margin-top: 2px;
  accent-color: #fff;
}

.loginWrapper .btn{
  width: 100%;
  height: 45px;
  background: #FFF;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.loginWrapper .registerLink{
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.registerLink p a{
  color: #FFF;
  text-decoration: none;
  font-weight: 600;
}

.registerLink p a:hover{
  text-decoration: underline;
}

.footerContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh;
}
footer{
  position: relative;
  width: 100%;
  background: #4FD584;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .socialIcons, footer .footerNav{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
footer .socialIcons li, footer .footerNav li{
  list-style: none;
}
footer .socialIcons li a{
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .socialIcons li a:hover{
  transform: translateY(-10px);
}

.footerNav{
  margin: 30px 0;
}
.footerNav ul{
  display: flex;
  justify-content: center;
}
.footerNav ul li a{
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}
.footerNav ul li a:hover{
  opacity: 1;
}
.footerBottom{
  padding: 20px;
  text-align: center;
}
.footerBottom p{
  color: white;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
footer .wave{
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(/storage/emulated/0/Pictures/greenwave.png);
  background-size: 1000px 100px;
}
footer .wave#wave1{
  z-index: 5;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
  z-index: 4;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3{
  z-index: 5;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}
footer .wave#wave4{
  z-index: 4;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave{
  0%{
    background-position-x: 1000px;
  }
  100%{
    background-position-x: 0px;
  }
}
@keyframes animateWave_02{
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: 1000px;
  }
}

@media (min-width: 481px) {
  
  .logo-link {
    display: block;
  }
  .loginWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 420px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #4FD584;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: white;
  border-radius: 10px;
  padding: 30px 40px;
  box-sizing: border-box;
}
}

@media(max-width: 480px){
  :root{
    --text-color: #505050;
    --accent-color: transparent;
  }
  
  body{
  height: 100vh;
  overflow-x: hidden;
}
  
  .logo-link {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 11;
  }

  .logo {
    width: 125px;
    height: 53px;
  }
  
  .loginWrapper {
    width: 90%;
    padding: 25px 20px;
    margin: 20px auto;
    box-sizing: border-box;
  }

  .loginWrapper h1 {
    font-size: 28px;
  }

  .inputBox input {
    font-size: 14px;
    padding: 15px 20px;
  }
  
  .rememberForgot {
    font-size: 12px;  
    margin: -10px 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .rememberForgot input[type="checkbox"] {
    transform: scale(0.8); 
  }

  .rememberForgot label {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  .rememberForgot a{
    margin-left: 15px;
  }

  .backgroundContainer {
    position: fixed;
    top: 0;
    height: auto;
    min-height: 100vh;
    width: 100%;
    z-index: -2;
    overflow-x: hidden;
  }
  .bubbles span{
    animation-name: animateMobile;
    animation-delay: -2s;
    bottom: -150px;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
  }
  .bubbles {
    position: relative;
    bottom: 0;
    width: 100%;
    overflow-y: visible;
}

  @keyframes animateMobile{
    0% {
      transform: translateY(120vh) scale(0);
    }
    100% {
      transform: translateY(-30vh) scale(1);
    }
  }
  
  .links-container{
    flex-direction: column;
    align-items: flex-start;
    
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
    
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -5px 0 5px rgb(0, 0, 0, 0.25);
    transition: 0.5s ease-out;
  }
  
  nav {
    justify-content: flex-end;
  }
  nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .open-sidebar-button, .close-sidebar-button{
    padding: 20px;
    display: block;
  }
  #sidebar-active:checked ~ .links-container{
    right: 0;
  }
  #sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
  
  .footerNav ul{
    flex-direction: column;
  }
  .footerNav ul li{
    width: 85%;
    text-align: center;
    margin: 10px;
  }
  .footerContainer {
    min-height: 80vh;
  }
}